<section>
    
<form action="/expenses/source" method="GET">
       <input type="text" name="source" placeholder="Source"/>
       <input type="text" name="category" placeholder="Category"/>
       <input type="submit"/>
    </form>
    <form action="/expenses/source" method="GET">
        <input type="date" name="start" placeholder="Start_Date">
        <input type="date" name="end" placeholder="End_Date">
        <input type="submit">
     </form>
    <form action="/expenses/source" method="get">
         
        <input type="number" name="month" id="" placeholder="Enter the month"/>
        <input type="number" name="year" id="" placeholder="Enter the year"/>
    
       <input type="submit"/>
    </form> 
    <a href="/expenses/dashboard/currentDate"> <button>Current Month Saving</button></a>
   
</section>