<!DOCTYPE html>
<html>
  <head>
    <title>Expense Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Expense Tracker</h1>
      <nav>
        <a href="/logout"><button>Logout</button></a>
          <a href="/expenses/dashboard"><button>Home</button></a>
          <a href="/expenses/history"><button>Activity</button></a>
          <a href="/expenses/"><button>Add ExpenseOrIncome</button></a>
      </nav>
  </header>