<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Expense Tracker</h1>
    </header>
    <main>
        <section>
            <div>
            <h2>Total Income : <%=totalIncome%></h2>
            <a href="/expenses/income">
            <button>Income</button></a>
        </div>
        <div>
            <h2>Total Expense : <%=totalExpense%></h2>
            <a href="/expenses/expense">
            <button>Expense</button></a>
            </div>
        </div>
        <h2>Saving : <%=totalIncome-totalExpense%></h2>
        </section>
    </main>
</body>
</html>