<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <header></header>
   <main>
       <section>
           <section>
               <form action="/expenses" method="POST">
                   <select name="type">
                       <option value="income">Income</option>
                       <option value="expense">Expense</option>
                   </select>
                   <input type="text" placeholder="Source" name="source">
                   <input type="number" name="amount" placeholder="Amount">
                   <input type="date" name="date" placeholder="Date">
                   <input type="submit">
               </form>
           </section>
       </section>
   </main> 
</body>
</html>